:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing:
    antialiased;

  -moz-osx-font-smoothing:
    grayscale;
}

html {
  background: #03050a;
}

body {
  margin: 0;
}